@charset "UTF-8";

pre > code {
  display: block;
  overflow-x: scroll;
}

code {
  display: block;
  border: groove 4px #404040;
  overflow: scroll;
  padding:20px;
}

code .LineNr {
  color: #808080;
}

code .SpecialComment,
code .Comment {
 color: #a6f02e;
}

code .Constant,
code .Boolean,
code .Identifier,
code .Type,
code .StorageClass,
code .Typedef,
code .Special,
code .SpecialChar,
code .Tag,
code .Delimiter,
code .Debug {
  color: #87ceeb;
}

code .String {
  color: #ffaaaa;
}

code .Character {
  color: #db7093;
}

code .Number,
code .Float {
  color: #fadd5a;
}

code .Function,
code .PreProc,
code .Include,
code .Define,
code .Macro,
code .PreCondit {
 color: #77aa77;
}

code .Statement,
code .Conditional,
code .Repeat,
code .Label,
code .Operator,
code .Keyword,
code .Structure {
  color: #cc7833;
}

code .Error,
code .Todo,
code .Exception {
  color: #f86060;
}

code .Underlined {
  color: #0000cc;
  text-decoration: underline;
}

code .Ignore {
  color: #ff0000;
}

code .Folded {
  color: #aaaaaa;
  background-color: #404040;
}

code .Boolean,
code .Exception,
code .Delimiter,
code .Error,
code .Todo {
  font-weight: bold;
}
