@charset "UTF-8";

/* general */
body {
  font-size: auto;
  background-color: #303030;
  color: #ffffff;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

h1, h2, h3 {
  color: #a6f02e;
  margin-top: 1em;
  margin-bottom: 0;
}
header h1, h1 + *, h2 + *, h3 + * { margin-top: 0 !important; }

a:visited, a:link { color: #fadd5a; text-decoration: none; }
s { color: #f86060; }
p { margin-top: 1em; margin-bottom: 0; }
img { display:block; max-height: 200px; max-width: 200px; }
pre { margin-top: 1em; font-family : monospace; }
ol, ul { margin-top: 0.25em; }
span.fa { margin-right: 0.25em; }
span.fa-tag { margin-left: 0.25em; }

/* title banner */
#title { margin-top: 1em; }
#title h1 { margin: 0; font-size: 2em; }
#title a { color: #ffffff; text-decoration: none; }
#title p { margin: 0; font-size: 0.75em; }

/* contnts */
#contents header { margin-top: 1em; }
#contents header time { margin-right: 1em; }
#contents section h1, #contents section h2, #contents section h3 {
  color: #a6f02e;
  margin-top: 1em;
}
#contents section h1::before { content: "# "; }
#contents section h2::before { content: "## "; }
#contents section h3::before { content: "### "; }
#contents section h1 { font-size: 1.4em; }
#contents section h2 { font-size: 1.2em; }
#contents section h3 { font-size: 1em; }
#contents section p { text-indent: 1em; }
#contents section img {
  width: 70%;
  height: auto;
  margin-top: 1em;
}

/* side menu */
#sidemenu aside { margin-top: 1em; }
#sidemenu aside ul { margin: 0; padding: 0; list-style: none; }
#sidemenu aside li { border-top: solid 1px #dddddd; }
#sidemenu aside li:first-child { border: none; }
#sidemenu aside li a {
  display: block;
  margin-top: 0.30em;
  color: #ffffff;
  font-size: 1em;
  text-decoration: none;
}
#sidemenu aside li a:hover {
  color: #aaaaaa;
}

/* footer */
#wrapper footer {
  margin-top: 1em;
  color: #666666;
  border-top: solid 1px #dddddd;
}

/* for smartphone */
@media (min-width: 768px) {
  #wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    padding-right: 80px;
    padding-left: 80px;
  }
  .line:after {
    content: "";
    display: block;
    clear: both;
  }
  #contents {
    padding-right:40px;
    box-sizing: border-box;
    float: left;
    width: 70%;
  }
  #sidemenu {
    float: left;
    width: 30%;
  }
}
