@charset "UTF-8";

body {
  font-size: 14px;
  background-color: #303030;
  color: #ffffff;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

s {
  color: #f86060;
}

img {
  max-height: 200px;
  max-width: 200px;
}

pre {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family : monospace;
}

a:visited,
a:link {
  color: #fadd5a;
  text-decoration: none;
}

/* title banner */
.wrapper header {
  margin-top: 30px;
}

.wrapper header h1 {
  margin: 0;
  font-size: 36px
}

.wrapper header h1 a {
  color: #ffffff;
  text-decoration: none;
}

.wrapper header h1 p {
  margin: 0;
  font-size: 12px;
}

/* contnts */
.contents header {
  margin-top: 0;
  margin-bottom: 5px;
}

.contents header time {
  margin-right: 15px;
}

.contents article h1,
.contents article h2,
.contents article h3,
.contents article h4,
.contents article h5,
.contents article h6 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.contents article h1 {
  font-size: 28px;
}

.contents article h2 {
  font-size: 20px;
  font-weight: bold;
}

.contents article a h1 {
  text-decoration: none;
}

.contents article p {
  margin-top: 0;
  margin-bottom: 20px;
}

.contents article img {
  width: 70%;
  height: auto;
  margin-bottom:20px;
}

.sidemenu aside {
  margin-bottom: 30px;
}

.sidemenu aside h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.sidemenu aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidemenu aside li a {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 15.5px;
  text-decoration: none;
}

.sidemenu aside li a:hover {
  color: #aaaaaa;
}

.wrapper footer {
  margin: 0;
  color: #666666;
  font-size: 14px;
  border-top: solid 1px #dddddd;
}

@media (min-width: 768px) {

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    padding-right: 80px;
    padding-left: 80px;
  }

  .inline:after {
    content: "";
    display: block;
    clear: both;
  }

  .contents {
    padding-right:40px;
    box-sizing: border-box;
    float: left;
    width: 70%;
  }

  .sidemenu {
    float: left;
    width: 30%;
  }

}
